<?xml version="1.0" encoding="UTF-8"?>
<!--
  LOGBACK Configuration File
 
http://logback.qos.ch/manual/configuration.html
 
  -->
<configuration scan="true" scanPeriod="60 seconds">
    <contextName>jetty-solr</contextName>
    
<!-- uncomment to JMX enable logback, see http://logback.qos.ch/manual/jmxConfig.html
    <jmxConfigurator />
 -->

<!-- begin appender section --> 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"MMM d y HH:mm:ss.SSS z [Z]"} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JETTY_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/jetty.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/jetty.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
 
            <!-- keep 10 files worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <Append>true</Append>
        <encoder>
            <pattern>%date{"MMM d y HH:mm:ss.SSS z [Z]"} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
 
 
    <appender name="ZK_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/zookeeper.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/zookeeper.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
 
            <!-- keep 10 files worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <Append>true</Append>
        <encoder>
            <pattern>%date{"MMM d y HH:mm:ss.SSS z [Z]"} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
 
    <appender name="SOLR_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/solr.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/solr.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
 
            <!-- keep 10 files worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <Append>true</Append>
        <encoder>
            <pattern>%date{"MMM d y HH:mm:ss.SSS z [Z]"} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!-- end appender section --> 


<!-- begin logger section --> 
    <!--  define where to send specific events  -->
    <logger name="org.eclipse" level="INFO" additivity="false">
        <appender-ref ref="JETTY_LOG_FILE"/>
    </logger>
 
    <logger name="org.apache.solr" level="INFO" additivity="false">
        <appender-ref ref="SOLR_LOG_FILE"/>
    </logger>

    <logger name="org.apache.lucene" level="INFO" additivity="false">
        <appender-ref ref="SOLR_LOG_FILE"/>
    </logger>
 
    <logger name="org.apache.http" level="INFO" additivity="false">
        <appender-ref ref="SOLR_LOG_FILE"/>
    </logger>
 
    <logger name="org.apache.commons" level="INFO" additivity="false">
        <appender-ref ref="SOLR_LOG_FILE"/>
    </logger>
 
    <logger name="org.apache.zookeeper" level="INFO" additivity="false">
        <appender-ref ref="ZK_LOG_FILE"/>
    </logger>
<!-- end logger section --> 


<!-- begin root section --> 
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    <!-- send other logging info to jetty.log -->
        <appender-ref ref="JETTY_LOG_FILE" />
    </root>
<!-- end root section --> 

</configuration>
